
body
{
    margin: 0;
    padding: 0;
    width: 100%;
    color: #fff;
    background: url(/images/travelback.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.login_user
{
    
    background: rgba(44,62,80,0.9);
    padding:40px;
    margin: auto;
    border-radius: 10px;
    left:50%;
    top: 50%;
    position: absolute;
    transform: translate(-50%,-50%);

}
h2{
    text-align: center;
    margin-top: 0px;
}

form
{
   width: 240px;
   text-align: center;

}
input[type=email]
{
    width: 240px;
    text-align: center;
    background: transparent;
    border: none;
    border-bottom: 1px #fff solid;
    font-size: 16px;
    padding: 10px 0;
    outline: none;
    color: #fff;
  
}
input[type=password]
{
    width: 240px;
    text-align: center;
    background: transparent;
    border: none;
    border-bottom: 1px #fff solid;
    font-size: 16px;
    padding: 10px 0;
    outline: none;
    color: #fff;
  
}
input[type=button]
{
    border: none;
    width: 150px;
    background: white;
    color: #000;
    font-size: 16px;
    font-weight: bold;
    line-height: 25px;
    letter-spacing: 1px;
    border-radius: 15px;
    cursor: pointer;
    padding: 6px 0;
    margin-top: 10px;
  
}
input[type=button]:hover
{
  color: #fff;
  background-color: black;  
  
}
h2
{
    color: white;
}
a
{
    color: yellow;
    text-decoration: blink;
}
a:hover
{
    color: skyblue;
}

::placeholder
{
    color: aliceblue;
    opacity: 0.8;
}
.line
{
    align-items: center;
    border-left: 0.1px solid white;
    margin-left: 0px;
    opacity: 0.3;
    border-collapse: collapse;
    
}
p
{
    font-weight: 400;
}